{% extends 'index/base.html' %}

{% block title %} Reviews {% endblock %}

{% block content %}
<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action">Python</button>
    <button type="button" class="list-group-item list-group-item-action">JavaScript</button>
    <button type="button" class="list-group-item list-group-item-action">Java</button>
    <button type="button" class="list-group-item list-group-item-action">C++</button>
    <button type="button" class="list-group-item list-group-item-action">C</button>
    <button type="button" class="list-group-item list-group-item-action">PHP</button>
    <button type="button" class="list-group-item list-group-item-action">C</button>
</div>
{% endblock %}